<h1 mat-dialog-title>{{ titleText }}</h1>
<div mat-dialog-content style="padding-left: 1rem; padding-right: 1rem">
  <div [formGroup]="methodForm">
    <div style="text-align: center">
      <mat-form-field
        appearance="outline"
        style="margin-right: 0.5rem; width: 30%"
      >
        <mat-select formControlName="id_tipo_end" required>
          <mat-option
            type="number"
            [value]="1"
            style="color: green; font-weight: bold"
            >GET</mat-option
          >
          <mat-option
            type="number"
            [value]="2"
            style="color: dodgerblue; font-weight: bold"
            >POST</mat-option
          >
          <mat-option
            type="number"
            [value]="3"
            style="color: goldenrod; font-weight: bold"
            >PUT</mat-option
          >
          <mat-option
            type="number"
            [value]="4"
            style="color: red; font-weight: bold"
            >DELETE</mat-option
          >
        </mat-select>
        <mat-label> <mat-icon>list</mat-icon>Method Type </mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 68%">
        <mat-label> Endpoint's name</mat-label>
        <input
          matInput
          placeholder="New endpoint"
          formControlName="nombre_end"
          required
        />
      </mat-form-field>
    </div>

    <div style="text-align: center">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Method Description</mat-label>
        <textarea matInput formControlName="docum_end" required></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>URL + extension</mat-label>
        <input
          matInput
          placeholder="full_api_url.com/endpoint"
          formControlName="url_end"
          required
        />
      </mat-form-field>
    </div>

    <form [formGroup]="paramForm" style="margin-bottom: 1rem;" *ngIf="flag == true">
      <div formArrayName="params">
        <div style="margin-right: 16px; display: flex; align-items: center; justify-content: start;">
          <label> Params </label>
          <mat-icon
            style="color: green; margin-left: 0.5rem; cursor: pointer"
            (click)="addParam()"
            >add_box
          </mat-icon>
        </div>
        <div
          *ngFor="let form of params.controls; let i = index"
        >
          <div [formGroupName]="i" style="display: flex; align-items: center; justify-content: start">
            <mat-form-field
              appearance="outline"
              style="width: 40%; margin-bottom: -1.25em; padding-right: 1rem"
            >
              <mat-label> Name </mat-label>
              <input
                matInput
                formControlName="nombre_param"
                placeholder="New param"
                required
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 15%; margin-bottom: -1.25em; padding-right: 1rem"
            >
              <mat-select formControlName="id_tipo_param" required>
                <mat-option type="number" [value]="2">int</mat-option>
                <mat-option type="number" [value]="1">string</mat-option>
                <mat-option type="number" [value]="3">bool</mat-option>
              </mat-select>
              <mat-label>Type</mat-label>
            </mat-form-field>
  
            <mat-checkbox
            style="margin-left: 1rem"
            formControlName="query"
            >Query Param</mat-checkbox
            >
            <mat-checkbox
              style="margin-left: 1rem"
              formControlName="obligatorio_param"
              >Required</mat-checkbox
            >
            <mat-icon
              style="color: #c71717; margin-left: 0.5rem; cursor: pointer"
              (click)="removeParam(i)"
              >delete
            </mat-icon>
            <mat-icon
              style="margin-left: 0.5rem; cursor: pointer"
              color="primary"
              matTooltipPosition="after"
              (click)="saveParam(i)"
              >save</mat-icon
            >
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="responseForm" style="margin-bottom: 1rem;" *ngIf="flag == true">
      <div formArrayName="responses">
        <div style="margin-right: 16px; display: flex; align-items: center; justify-content: start;">
          <label> Responses </label>
          <mat-icon
            style="color: green; margin-left: 0.5rem; cursor: pointer"
            (click)="addResponse()"
            >add_box
          </mat-icon>
        </div>
        <div
          *ngFor="let form2 of responses.controls; let i = index"
        >
          <div [formGroupName]="i" style="display: flex; align-items: center; justify-content: start">
            <mat-form-field
              appearance="outline"
              style="width: 70%; margin-bottom: -1.25em; padding-right: 1rem"
            >
              <mat-label> Name </mat-label>
              <input
                matInput
                formControlName="name_resp"
                placeholder="New response"
                required
              />
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 15%; margin-bottom: -1.25em; padding-right: 1rem"
            >
              <mat-select formControlName="id_tipo_param" required>
                <mat-option type="number" [value]="2">int</mat-option>
                <mat-option type="number" [value]="1">string</mat-option>
                <mat-option type="number" [value]="3">bool</mat-option>
              </mat-select>
              <mat-label>Type</mat-label>
            </mat-form-field>
            <mat-icon
              style="color: #c71717; margin-left: 0.5rem; cursor: pointer"
              (click)="removeResponse(i)"
              >delete
            </mat-icon>
            <mat-icon
              style="margin-left: 0.5rem; cursor: pointer"
              color="primary"
              matTooltipPosition="after"
              (click)="saveResponse(i)"
              >save</mat-icon
            >
          </div>
        </div>
      </div>
    </form>

    <div style="text-align: center">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Body Template</mat-label>
        <textarea matInput formControlName="body" style="height: 4rem;"></textarea>
      </mat-form-field>
    </div>

    <div>
      <label> Code Samples </label>
    </div>
    <div class="samples">
      <div>
        <mat-form-field
          appearance="fill"
          style="width: 49%; margin-right: 0.5rem"
        >
          <mat-label> Request Sample </mat-label>
          <textarea matInput formControlName="pruebas_end" style="height: 4rem;"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 49%">
          <mat-label> Response Sample </mat-label>
          <textarea matInput formControlName="expected_ans" style="height: 4rem;"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-action [align]="'end'" style="margin-top: 1rem">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    style="margin-left: 10px"
    color="primary"
    (click)="addMethod()"
  >
    {{ actionBtn }}
  </button>
</div>
