<div>
  <h1 mat-dialog-title>{{ titleText }}</h1>
  <form [formGroup]="methodForm">
    <div style="text-align: center">
      <mat-form-field
        appearance="outline"
        style="margin-right: 0.5rem; width: 30%"
      >
        <mat-select formControlName="id_tipo_end" required>
          <mat-option value="1" style="color: green; font-weight: bold"
            >GET</mat-option
          >
          <mat-option value="2" style="color: dodgerblue; font-weight: bold"
            >POST</mat-option
          >
          <mat-option value="3" style="color: goldenrod; font-weight: bold"
            >PUT</mat-option
          >
          <mat-option value="4" style="color: red; font-weight: bold"
            >DELETE</mat-option
          >
        </mat-select>
        <mat-label><mat-icon>list</mat-icon>Method Type</mat-label>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="demo-middle-width"
        style="width: 68%"
      >
        <mat-label> Endpoint's name</mat-label>
        <input
          matInput
          placeholder="New endpoint"
          formControlName="nombre_end"
          required
        />
      </mat-form-field>
    </div>
  
    <div style="text-align: center">
      <mat-form-field
        appearance="fill"
        class="demo-full-width"
        style="width: 100%"
      >
        <mat-label>Method Description</mat-label>
        <textarea matInput formControlName="docum_end" required></textarea>
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field
        appearance="outline"
        class="demo-full-width"
        style="width: 100%"
      >
        <mat-label>URL + extension</mat-label>
        <input
          matInput
          placeholder="full_api_url.com/endpoint"
          formControlName="url_end"
          required
        />
      </mat-form-field>
    </div>
    <!-- 
    <div class="param_container" style="margin-bottom: 1.3rem;">
      <label> Params </label>
      <button
        mat-icon-button
        color="primary"
        aria-label="Add more params"
        (click)="addParams()"
      >
        <mat-icon>add_box</mat-icon>
      </button>
      <section style="text-align: center;" *ngFor="let param of params; let i = index">
        <button
          mat-icon-button
          color="accent"
          aria-label="Delete params"
          (click)="removeParams(i)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <mat-form-field appearance="outline" style="width: 37%;">
          <mat-label> Name </mat-label>
          <input
            matInput
            placeholder="New param"
            formControlName="name_param"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 20%">
          <mat-select required>
            <mat-option value="int">int</mat-option>
            <mat-option value="string">string</mat-option>
            <mat-option value="bool">bool</mat-option>
            <mat-option value="object">object</mat-option>
          </mat-select>
          <mat-label><mat-icon>list</mat-icon> <b> Type </b></mat-label>
        </mat-form-field>
        <mat-checkbox>Required</mat-checkbox>
      </section>
    </div>
  
    <div class="responses_container">
      <label>Response</label>
      <button
        mat-icon-button
        color="primary"
        aria-label="Add more responses"
        (click)="addResponses()"
      >
        <mat-icon>add_box</mat-icon>
      </button>
      <section
        class="justify_content"
        *ngFor="let response of responses; let i = index"
      >
        <button
          *ngIf="i >= 1"
          mat-icon-button
          color="accent"
          aria-label="Delete params"
          (click)="removeResponses(i)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <mat-form-field appearance="outline" style="width: 78%; margin-right: 0.5rem;">
          <mat-label> Name </mat-label>
          <input
            matInput
            placeholder="New response"
            formControlName="name_response"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 20%">
          <mat-select required>
            <mat-option value="int">int</mat-option>
            <mat-option value="string">string</mat-option>
            <mat-option value="bool">bool</mat-option>
            <mat-option value="object">object</mat-option>
          </mat-select>
          <mat-label><mat-icon>list</mat-icon> <b> Type </b></mat-label>
        </mat-form-field>
      </section>
    </div>
    -->
    <div>
      <label> Code Samples </label>
    </div>
    <div class="samples">
      <div>
        <mat-form-field
          appearance="fill"
          style="width: 49%; margin-right: 0.5rem"
        >
          <mat-label> Request Sample </mat-label>
          <textarea matInput formControlName="pruebas_end"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 49%">
          <mat-label> Response Sample </mat-label>
          <textarea matInput formControlName="expected_ans"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-action [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button
        mat-raised-button
        style="margin-left: 10px"
        color="primary"
        (click)="addMethod()"
      >
        {{ actionBtn }}
      </button>
    </div>
  </form>
</div>
