<mat-sidenav-container>
  <mat-sidenav mode="side" opened *ngIf="dataSource">
    <button
      mat-button
      (click)="getApiInfo(dataSource.id_api)"
      class="title_sidebar_btn"
    >
      <h1 class="title_sidebar">{{ dataSource.nombre_api }}</h1>
    </button>
    <h1 class="title_sidebar version">{{ dataSource.version_api }}</h1>
    <div style="margin-right: 16px; padding: 16px 0 16px 0; display: flex; align-items: center; justify-content: start;">
      <h2 class="endpointTitle">Endpoints</h2>
      <mat-icon style="color: green;" class="lilBtn" matTooltip="Add Endpoint Category" matTooltipPosition="after" (click)="openCategoryDialog()">add_box</mat-icon>
    </div>

  
    <mat-expansion-panel *ngFor="let cat of categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ cat.nombre_cat }}
        </mat-panel-title>
        <div style="display: flex; float: right; margin-right: 8px;">
          <mat-icon  matTooltip="Change Category Name" matTooltipPosition="after" color="primary" class="lilBtn" (click)="openEditCategory(cat)">edit</mat-icon>
          <mat-icon style="color: #C71717;" class="lilBtn" matTooltip="Delete Category" matTooltipPosition="after" (click)="openDeleteCategory(cat.id_cat)">delete</mat-icon>
          <mat-icon style="color: green;" class="lilBtn" matTooltip="Add Category Method" matTooltipPosition="after"  (click)="openAddMethod(cat.id_cat)">add_box</mat-icon>
        </div>
      </mat-expansion-panel-header>

      <div *ngFor="let end of endpoints">
        <button
          mat-button
          *ngIf="cat.id_cat == end.id_cat"
          (click)="getEndpoint(end.id_end)"
          class="btn"
        >
          <p class="texto_btn">{{ end.nombre_end }}</p>
          <p *ngIf="end.tipo_end == 'GET'" class="texto_btn get">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'POST'" class="texto_btn post">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'DELETE'" class="texto_btn delete">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'PUT'" class="texto_btn put">
            {{ end.tipo_end }}
          </p>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content
    class="card-wrapper"
    [ngSwitch]="flag_is_api"
    dynamicHeight
  >
    <mat-card class="example-card" *ngSwitchCase="'true'" dynamicHeight>
      <mat-card-title>
        <div style="margin-right: 16px; display: flex; align-items: center; justify-content: start;">
          <h1 class="apiTitle">{{ dataSource.nombre_api }}</h1>
          <mat-icon  matTooltip="Edit API Info" matTooltipPosition="after" color="primary" class="bigBtn" (click)="openEditGeneralAPI(dataSource)">edit</mat-icon>
        </div>
      </mat-card-title>
      <mat-card-subtitle> API </mat-card-subtitle>
      <hr />
      <mat-card-content>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, deserunt.</p> -->
        <table>
          <tr>
            <td>
              <h3>General information</h3>
              <mat-card-subtitle>{{
                dataSource.descripcion_api
              }}</mat-card-subtitle>
            </td>
          </tr>
          <tr>
            <td>
              <h3>Version</h3>
              <mat-card-subtitle>{{
                dataSource.version_api
              }}</mat-card-subtitle>
            </td>
          </tr>
          <tr>
            <td>
              <h3>URL</h3>
              <mat-card-subtitle>{{ dataSource.url_base }}</mat-card-subtitle>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-card *ngSwitchCase="'false'" class="example-card grid-container">
      <div class="titles">
        <mat-card-title>
          <div style="margin-right: 16px; display: flex; align-items: center; justify-content: start;">
            <h1 class="apiTitle">{{ selectedEndpoint.nombre_end }}</h1>
            <mat-icon  matTooltip="Edit Method Info" matTooltipPosition="after" color="primary" class="bigBtn" (click)="openEditMethod(selectedEndpoint)">edit</mat-icon>
            <mat-icon style="color: #C71717;" class="bigBtn" matTooltip="Delete Method" matTooltipPosition="after" (click)="openDeleteMethod(selectedEndpoint.id_end)">delete</mat-icon>
          </div>
        </mat-card-title>
        <mat-card-subtitle> Method </mat-card-subtitle>
        <hr/>
      </div>
      <div class="info">
        <mat-card-content>
          <p style=" text-align: justify; text-justify: auto;">
            {{ selectedEndpoint.docum_end }}
          </p>
          <h3>URL+extension</h3>
          <mat-card-subtitle>{{ selectedEndpoint.url_end }}</mat-card-subtitle>
          <h3>Autentication</h3>
          <mat-card-subtitle *ngIf="dataSource.api_key != 'NA'">
            Using API Key.
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="dataSource.api_key == 'NA'">
            {{ dataSource.api_key }}
          </mat-card-subtitle>
          <h3>Parameters</h3>
          <div class="grid-container2" style="width: 90%; margin-bottom: 4px;">
            <div class="path" style="text-align: center;">
              <h4 style=" background-color: #f5f5f6; font-weight: bold; border-bottom: 1px solid lightgray;">Path Params</h4>
              <div *ngFor="let param of pathParams">
                <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)"
                  >- {{ param.nombre_param }}
                  <b>{{ param.tipo_param }}</b></p>
              </div>
              <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" *ngIf="pathParams.length == 0"
              >No path params provided.</p>
            </div>

            <div class="query" style="text-align: center;">
              <h4 style=" background-color: #f5f5f6; font-weight: bold; border-bottom: 1px solid lightgray">Query Params</h4>
              <div *ngFor="let param of queryParams">
                <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" 
                  >- {{ param.nombre_param }}
                  <b>{{ param.tipo_param }}</b></p
                >
              </div>
              <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" *ngIf="queryParams.length == 0"
              >No query params provided.</p
              >
            </div>
          </div>

          <h3>Responses</h3>
          <mat-card-subtitle *ngFor="let resp of responses"
            >{{ resp.name_resp }}
            <b>{{ resp.tipo_param }}</b></mat-card-subtitle
          >
          <mat-card-subtitle *ngIf="responses.length == 0">
            No responses provided.
          </mat-card-subtitle>
        </mat-card-content>
      </div>
      <div class="examples">
        <h4 class="Request">Request Example</h4>
        <mat-card class="mini_card">
          <mat-card-content>
            <p>
              {{ selectedEndpoint.pruebas_end }}
            </p>
          </mat-card-content>
        </mat-card>
        <h4 class="Request">Response Example</h4>
        <mat-card class="mini_card">
          <mat-card-content>
            <p>
              {{ selectedEndpoint.expected_ans }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
