<mat-sidenav-container>
  <mat-sidenav mode="side" opened *ngIf="dataSource">
    <button
      mat-button
      (click)="getApiInfo(dataSource.id_api)"
      class="title_sidebar_btn"
    >
      <h1 class="title_sidebar">{{ dataSource.nombre_api }}</h1>
    </button>
    <h1 class="title_sidebar version">{{ dataSource.version_api }}</h1>
    <div
      style="
        display: flex;
        justify-content: left;
        position: relative;
        margin: 16px;
        margin-left: 0;
      "
    >
      <h2 class="endpointTitle">Endpoints</h2>
    </div>
    <mat-expansion-panel *ngFor="let cat of categories">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ cat.nombre_cat }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let end of endpoints">
        <button
          mat-button
          *ngIf="cat.id_cat == end.id_cat"
          (click)="getEndpoint(end.id_end)"
          class="btn"
        >
          <p class="texto_btn">{{ end.nombre_end }}</p>
          <p *ngIf="end.tipo_end == 'GET'" class="texto_btn get">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'POST'" class="texto_btn post">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'DELETE'" class="texto_btn delete">
            {{ end.tipo_end }}
          </p>
          <p *ngIf="end.tipo_end == 'PUT'" class="texto_btn put">
            {{ end.tipo_end }}
          </p>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content
    class="card-wrapper"
    [ngSwitch]="flag_is_api"
    dynamicHeight
  >
    <mat-card class="example-card" *ngSwitchCase="'true'" dynamicHeight>
      <mat-card-title>
        <h1 class="apiTitle">{{ dataSource.nombre_api }}</h1>
        <button mat-icon-button (click)="toggleSelected()">
          <mat-icon
            *ngIf="selected"
            aria-label="Fav button"
            class="red_bookmark"
          >
            star
          </mat-icon>

          <mat-icon
            *ngIf="!selected"
            aria-label="Fav button"
            style="font-size: 2rem"
          >
            star_border
          </mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle> API </mat-card-subtitle>
      <hr />
      <mat-card-content>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, deserunt.</p> -->
        <table>
          <tr>
            <td>
              <h3>General information</h3>
              <mat-card-subtitle>{{
                dataSource.descripcion_api
              }}</mat-card-subtitle>
            </td>
          </tr>
          <tr>
            <td>
              <h3>Version</h3>
              <mat-card-subtitle>{{
                dataSource.version_api
              }}</mat-card-subtitle>
            </td>
          </tr>
          <tr>
            <td>
              <h3>URL</h3>
              <mat-card-subtitle>{{ dataSource.url_base }}</mat-card-subtitle>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <mat-tab-group *ngSwitchCase="'false'">
      <mat-tab label="Info">
        <mat-card class="example-card grid-container">
          <div class="titles">
            <mat-card-title>
              <h1 class="apiTitle">{{ selectedEndpoint.nombre_end }}</h1>
            </mat-card-title>
            <mat-card-subtitle> Method </mat-card-subtitle>
            <hr />
          </div>
          <div class="info">
            <mat-card-content>
              <p>
                {{ selectedEndpoint.docum_end }}
              </p>
              <h3>URL+extension</h3>
              <mat-card-subtitle>{{
                selectedEndpoint.url_end
              }}</mat-card-subtitle>
              <h3>Autentication</h3>
              <mat-card-subtitle *ngIf="dataSource.api_key != 'NA'">
                Using API Key.
              </mat-card-subtitle>
              <mat-card-subtitle *ngIf="dataSource.api_key == 'NA'">
                {{ dataSource.api_key }}
              </mat-card-subtitle>
              <h3>Parameters</h3>
              <div class="grid-container2" style="width: 90%; margin-bottom: 4px;">
                <div class="path" style="text-align: center;">
                  <h4 style=" background-color: #f5f5f6; font-weight: bold; border-bottom: 1px solid lightgray;">Path Params</h4>
                  <div *ngFor="let param of pathParams">
                    <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)"
                      >- {{ param.nombre_param }}
                      <b>{{ param.tipo_param }}</b></p>
                  </div>
                  <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" *ngIf="pathParams.length == 0"
                  >No path params provided.</p>
                </div>

                <div class="query" style="text-align: center;">
                  <h4 style=" background-color: #f5f5f6; font-weight: bold; border-bottom: 1px solid lightgray">Query Params</h4>
                  <div *ngFor="let param of queryParams">
                    <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" 
                      >- {{ param.nombre_param }}
                      <b>{{ param.tipo_param }}</b></p
                    >
                  </div>
                  <p style="border-bottom: 1px solid lightgray; color: rgba(0, 0, 0, 0.54)" *ngIf="queryParams.length == 0"
                  >No query params provided.</p
                  >
                </div>
              </div>

              <h3>Responses</h3>
              <mat-card-subtitle *ngFor="let resp of responses"
                >{{ resp.name_resp }}
                <b>{{ resp.tipo_param }}</b></mat-card-subtitle
              >
              <mat-card-subtitle *ngIf="responses.length == 0">
                No responses provided.
              </mat-card-subtitle>
            </mat-card-content>
          </div>

          <div class="examples">
            <h4 class="Request">Request Example</h4>
            <mat-card class="mini_card">
              <mat-card-content>
                <p>
                  {{ selectedEndpoint.pruebas_end }}
                </p>
              </mat-card-content>
            </mat-card>
            <h4 class="Request">Response Example</h4>
            <mat-card class="mini_card">
              <mat-card-content>
                <p>
                  {{ selectedEndpoint.expected_ans }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Make Request">
        <mat-card>
          <mat-card-content>
            <div>
              <div>
                <mat-label
                  style="
                    margin: 5px;
                    width: 10%;
                    font-size: 1.5rem;
                    font-weight: bold;
                  "
                  appearance="outline"
                >
                  {{ selectedRequestMethod }}
                </mat-label>
                <mat-form-field
                  style="margin: 5px; width: 90%; font-size: 1rem"
                  appearance="outline"
                >
                  <mat-label>API Endpoint</mat-label>
                  <input
                    type="url"
                    matInput
                    placeholder="Enter URL here..."
                    #end="ngModel"
                    [(ngModel)]="endpointURL"
                  />
                </mat-form-field>
              </div>

              <div>
                <mat-tab-group mat-align-tabs="start" dynamicHeight>
                  <mat-tab label="Path Params">
                    <div style="padding: 1rem">
                      <mat-card-subtitle *ngFor="let param of pathParams"
                        >- {{ param.nombre_param }}
                        <b>{{ param.tipo_param }}</b><i style="color:darkred" *ngIf="param.obligatorio_param == true"> Required</i></mat-card-subtitle
                      >
                      <p style="color: rgba(0, 0, 0, 0.54)" *ngIf="pathParams.length == 0"
                      >No path params provided.</p
                      >
                    </div>
                  </mat-tab>
                  <mat-tab label="Query Params">
                    <section style="padding: 1rem">
                      <form>
                        <div *ngFor="let param of queryParams; let i = index">
                          <mat-form-field
                            appearance="outline"
                            style="width: 50%"
                          >
                            <mat-label>{{ param.nombre_param }}</mat-label>
                            <input
                              *ngIf="param.obligatorio_param == true"
                              matInput
                              #endpoint
                              required
                              [(ngModel)]="input[i]"
                              [ngModelOptions]="{ standalone: true }"
                            />
                            <input
                              *ngIf="param.obligatorio_param == false"
                              matInput
                              #endpoint
                              [(ngModel)]="input[i]"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </mat-form-field>
                        </div>
                        <p style="color: rgba(0, 0, 0, 0.54)" *ngIf="queryParams.length == 0"
                        >No query params provided.</p
                        >
                      </form>
                    </section>
                  </mat-tab>
                  <mat-tab label="Headers">
                    <section style="padding: 1rem">
                      <button mat-raised-button style="color:white; background-color: green;" (click)="addHeader()">Add Header</button>
                      <form style="margin: 0.5rem; margin-left: 0;">
                        <div *ngFor="let header of headers; let i = index">
                          <mat-form-field
                            appearance="outline"
                            style="width: 45%"
                          >
                            <mat-label>Header Name</mat-label>
                            <input
                              matInput
                              #endpoint
                              required
                              [(ngModel)]="headers[i].nombre"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </mat-form-field>
                          <mat-form-field
                          appearance="outline"
                          style="width: 45%; margin-left: 1rem;"
                        >
                          <mat-label>Header Content</mat-label>
                          <input
                            matInput
                            #endpoint
                            required
                            [(ngModel)]="headers[i].key"
                            [ngModelOptions]="{ standalone: true }"
                          />
                          </mat-form-field>
                          <button style="margin-left: 1rem; font-size: 3rem;" mat-icon-button color="warn" (click)="removeHeader(i)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </form>
                    </section>
                  </mat-tab>

                  <mat-tab label="Body">
                    <div style="text-align: center; margin: 1rem;">
                      <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Body Template</mat-label>
                        <textarea matInput style="height: 10rem;" [(ngModel)]="body"></textarea>
                      </mat-form-field>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>

              <div style="margin-bottom: 1rem">
                <button
                  mat-flat-button
                  [disabled]="!endpointURL"
                  color="primary"
                  (click)="sendRequest()"
                >
                  SEND REQUEST
                </button>
              </div>
              <div
                class="w-100"
                style="background-color: black; padding: 1rem; min-height: 5rem"
              >
                <mat-progress-spinner
                  *ngIf="loadingState"
                  class="d-block mx-auto"
                  color="primary"
                  mode="indeterminate"
                  style="margin: 0 auto"
                ></mat-progress-spinner>
                <pre
                  *ngIf="responseData"
                  style="color: yellow; white-space: pre-wrap"
                  >{{ responseData }}</pre
                >
                <pre
                  *ngIf="responseError"
                  style="color: indianred; white-space: pre-wrap"
                  >{{ responseError }}</pre
                >
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
