table {
  width: 100%;
}

th{
  background-color: #C6C6C6;
  font-size: small;
}

.search-bar {
  width: 50%;
  padding: 0 8.5rem 0 0;
}

.add {
  font-size: medium;
  float: right;
  margin: 8px 0 0 0 ;
}

button {
  color: white;
  background-color: #c75b39;
}

button:hover {
  opacity: 80%;
}

.mat-icon-button{
  background-color: transparent;
}

.container{
  max-width: 90%;
  margin: 2rem auto;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #E1DDDD;
  opacity: 90%;
}

