<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>
                <img src="https://www.ipointsystems.com/cms-media/ips/logos/menu-bar/logo-ips-280x47-c.png"
                    alt="logo de Inflection Point">
            </mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <button (click)="signInGoogle()" mat-stroked-button  class="google-login-btn">
                    <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                    Login with Google
                </button>
                <button (click)="signInMS()" mat-stroked-button  class="google-login-btn">
                    <i class="fa fa-windows fa-2x" aria-hidden="true"></i>
                    Login with Microsoft
                </button>
            </mat-card-content>
        </form>
    </mat-card>
</div>