<mat-toolbar class="navbar">
    <button mat-button routerLink="/dashboard">
      <img
        src="https://www.ipointsystems.com/cms-media/ips/logos/menu-bar/logo-ips-280x47-c.png"
        alt="Logo de Inflection Point"
      />
    </button>
  
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  
    <div fxLayout="row" fxShow="false" fxShow.gt-md>
      <button mat-button routerLinkActive="active" routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLinkActive="active" routerLink="/catalogue">Catalogue</button>
      <button mat-button *ngIf="userData.tipo_usr == 'Admin' || userData.tipo_usr == 'SuperUser'" routerLinkActive="active" routerLink="/edit_mode">Edit Mode</button>
      <button mat-button *ngIf="userData.tipo_usr == 'SuperUser'" routerLinkActive="active" routerLink="/gestion-de-usuarios">User Management</button>
    </div>
  
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-md>
      <mat-icon>menu</mat-icon>
    </button>
  
    <button mat-button [mat-menu-trigger-for]="menuCuenta">
  
      <img *ngIf="!userData.photoUrl"
        class="account-picture"
        src="https://www.logolynx.com/images/logolynx/4b/4beebce89d681837ba2f4105ce43afac.png"
        alt="Cuenta"
      />
      <img *ngIf="userData.photoUrl"
        class="account-picture"
        src={{userData.photoUrl}}
        alt="Cuenta"
      />
    </button>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <button mat-menu-item routerLink="/catalogue">Catalogue</button>
    <button mat-menu-item *ngIf="userData.tipo_usr == 'Admin'" routerLink="/edit_mode">Edit Mode</button>
    <button mat-menu-item *ngIf="userData.tipo_usr == 'SuperUser'" routerLink="/gestion-de-usuarios">User Mgmt</button>
  </mat-menu>
  
  <mat-menu #menuCuenta="matMenu">
    <div>
      <h2 class="userData">{{userData.nombre_usr}}</h2>
      <h4 class="userData">{{userData.email}}</h4>
      <h4 class="userData">{{userData.tipo_usr}}</h4>
    </div>
    <button mat-button class="signOut" (click)="signOut()">Log Out</button>
  </mat-menu>
  