mat-toolbar {
    background-color: #002171;
}

::ng-deep .mat-menu-content {

    background-color: lightgray;
}

mat-menu-item {
    background-color: #002171;
}

button {
    color: white;
    background-color: #002171;
}

button:hover {
    text-decoration: underline;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

img {
    min-width: 25px;
    max-width: 200px;
    max-height: 25px;
    position: relative;
}

.account-picture {
    max-width: 25px;
    min-height: 25px;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 25%;

}

.active {
    background: #c75b39;
}

.userData{
    margin: 8px;
    text-align:end;
    color: black;
    padding: 3px;
}

.signOut{
    margin: 0 0 0 2rem;
    width: 70%;
    text-align: center;
    background-color: #002171;
}