* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  .grid-container > * {
    border-radius: 0px;
  }
  
  .navbar {
    grid-area: navbar;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .main {
    grid-area: main;
    background-color: wheat;
    overflow-y: hidden;
  }
  
  .grid-container {
    display: grid;
    gap: 0px;
    grid-template:
      "navbar" 50px
      "main" auto;
  }
  
  @media (min-width: 900px) {
    .grid-container {
      grid-template:
        "navbar navbar navbar" 4rem
        "main  main  main" auto;
    }
  }
  
  .container {
    background-color: #f5f5f6;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  mat-card {
    min-width: 20rem;
    min-height: 20rem;
    width: 30rem;
    margin-top: 50px;
    height: fit-content;
    text-align: center;
    justify-content: center center;
  }
  .demo-full-width {
    width: 100%;
    padding-bottom: 1rem;
    font-size: medium;
  }
  body {
    margin: 0;
  }
  mat-card-header {
    font-size: 1.5rem !important ;
    justify-content: center;
    padding-bottom: 2rem;
    font-weight: bold;
  }
  button {
    width: 10rem;
    height: 3rem;
    font-size: medium;
    margin-top: 2rem;
    background-color: #c75b39;
    color: white;
    margin-bottom: 2rem;
  }
  