<div class="container">
  <div class="search-container">
    <mat-form-field appearance="fill" class="search-bar">
      <input
        (input)="searchBar($event)"
        (keyup.backspace)="unSearch()"
        matInput
        placeholder="Search"
        #input
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="dFilter">
      <mat-label class="filterTag">Security</mat-label>
      <mat-select
        (selectionChange)="filterSecurity($event)"
        [(value)]="selected"
      >
        <mat-option value="1">True</mat-option>
        <mat-option value="0">False</mat-option>
        <mat-option value="all">All</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nombre_api">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>API</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre_api }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="disp_api">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Availability</th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.disp_api == 'Yes'" mat-icon-button disabled> <mat-icon style="font-size: 1.2rem; color: green;">check_circle</mat-icon></button>
          <button *ngIf="element.disp_api == 'No'" mat-icon-button disabled> <mat-icon style="font-size: 1.3rem; color:darkred;">report</mat-icon></button>
          {{ element.disp_api }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="seguridad_api">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Security</th>
        <td mat-cell *matCellDef="let element">
          {{ element.seguridad_api }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ult_conexion_api">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Last Connection
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.ult_conexion_api | date: "medium" }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="version_api">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Version</th>
        <td mat-cell *matCellDef="let element">
          {{ element.version_api }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="showDetailedProduct(row)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[8, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
